@{
    ViewBag.Title = "BeerNet Brew Forge";
}
@using Beernet_Lib.Models;
@using Brewforge.Models;
@model RecipeGridModel

@{ if (Model.selectedRecipe == null)
    {
        Model.selectedRecipe = new recipe();
        Model.selectedRecipe.recipeStats = new RecipeStatistics();
        Model.selectedRecipe.recipeStats.abv = 0;
        Model.selectedRecipe.recipeStats.fg = 0;
        Model.selectedRecipe.recipeStats.og = 0;
        Model.selectedRecipe.recipeStats.srm = 0;
    }
    if (String.IsNullOrEmpty(Model.selectedRecipeIndex))
    {
        Model.selectedRecipeIndex = "00000";
    }
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "selectRecipeForm", returnModel = Model }))
{
    <div id="@Model.gridName" class="grid grid-pad widgetItem recipeSelector">
        <div class="col-1-2">
            <div id="recipeSelector" class="module selectorWidget">
                @{int index2 = 0;
                    foreach (recipe r in Model.recipes)
                    {
                        string name = Model.gridName + r.idString;
                        if (index2 == 0)
                        {
                            <script>
                                    localStorage['firstRecipeID'] = '@name';
                            </script>
                        }

                        <div id=@name class="hopListItem grid" onclick="loadRecipe(this)">
                            <div class="col-1-3">
                                @r.name
                            </div>
                            <div class="col-1-3">
                                @r.style
                            </div>
                            <div class="col-1-3">
                                @r.description
                            </div>
                        </div>
                        index2++;
                    }
                }
            </div>
        </div>
        <div class="col-1-2 recipeWindow">
            <div class="module grid">
                <div style="font-size:18px;">
                    @Model.selectedRecipe.name
                </div>
                <div class="col-1-3">
                    <button type="button" onclick="openRecipe(this)" value="@Model.selectedRecipe.idString">Open Recipe</button>
                </div>
            </div>
            <div class="module editorWidget">
                <div class="statsWidget">
                    <div class="statWidget">
                        <div class="statTop">
                            IBU
                        </div>
                        <div class="statBottom">
                            @Math.Round(Model.selectedRecipe.recipeStats.ibu, 2)
                        </div>
                    </div>
                    <div class="statWidget">
                        <div class="statTop">
                            ABV
                        </div>
                        <div class="statBottom">
                            @Math.Round(Model.selectedRecipe.recipeStats.abv, 2)
                        </div>
                    </div>
                    <div class="statWidget">
                        <div class="statTop">
                            FG
                        </div>
                        <div class="statBottom">
                            @Math.Round(Model.selectedRecipe.recipeStats.fg, 2)
                        </div>
                    </div>
                    <div class="statWidget">
                        <div class="statTop">
                            OG
                        </div>
                        <div class="statBottom">
                            @Math.Round(Model.selectedRecipe.recipeStats.og, 2)
                        </div>
                    </div>
                    <div class="statWidget">
                        <div class="statTop">
                            SRM
                        </div>
                        <div class="statBottom">
                            @Math.Round(Model.selectedRecipe.recipeStats.srm, 2)
                        </div>
                    </div>
                </div>
                <div style="font-size:18px;">
                    @Model.selectedRecipe.style
                </div>
                <div style="font-size:14px;">
                    @Model.selectedRecipe.description
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">


            function loadRecipe(el) {
                window.location = '?selectedRecipe=' + el.id.replace($(el).parent().parent().parent()[0].id,"") + '&gridName=' + $(el).parent().parent().parent()[0].id;
                console.log($(el).parent);
            }

            function openNewRecipe(el) {
                window.location = '/Home/openRecipe?openRecipe=NEW';
                console.log("New recipe");
            }

            function openRecipe(el) {
                window.location = '/Home/openRecipe?openRecipe=' + el.value;
            }

            $("#recipeSelector").scroll(function () {
          localStorage['page'] = document.URL;
                localStorage['scrollTop'] = $("#recipeSelector").scrollTop();
      });

      $(document).ready(function () {
          //setSelectedCSS();
          //console.log('@Model.selectedRecipeIndex');
          if (localStorage['firstRecipeID'] == null || localStorage['firstRecipeID'] == '@Model.selectedRecipeIndex') {
              localStorage['scrollTop'] = 0;
          }
          else {
              $("#recipeSelector").scrollTop(localStorage['scrollTop']);
          }
      });

</script>