@{
    ViewBag.Title = "Beernet Brew Forge";
}
@using NonFactors.Mvc.Grid;
@using Beernet_Lib.Models;
@using Microsoft.AspNetCore.Http;
@using Beernet_Lib;
@using Brewforge.Models;
<div id="header">
    <!--&nbsp;Select a recipe...-->
    @model RecipeSelectorViewModel
    <br />
    <br />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
</div>
<div id="toolbar" class="btn-group">
    
</div>

<div style="height:100%">
    <h3 style="color:white">Select a Recipe</h3> <br />

    <button onclick="openNewRecipe(this)">New Recipe</button>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new {@class = "selectRecipeForm", returnModel = Model}))
    {
        <div class="grid grid-pad widgetItem recipeSelector">
            <div class="col-1-2">
                <div id="recipeSelector" class="module selectorWidget">
                    @{int index2 = 0;
                        foreach (recipe r in Model.allRecipes)
                        {
                            string name = r.idString;
                            if (index2 == 0)
                            {
                                <script>
                                    localStorage['firstRecipeID'] = '@name';
                                </script>
                            }
                            
                            <div id=@name class="hopListItem grid" onclick="loadRecipe(this)">
                                <div class="col-1-3">
                                    @r.name
                                </div>
                                <div class="col-1-3">
                                    @r.style
                                </div>
                                <div class="col-1-3">
                                    @r.description
                                </div>
                            </div>
                            index2++;
                        }
                    }
                </div>
            </div>
            <div class="col-1-2 recipeWindow">
                <div class="module grid">
                    <div style="font-size:18px;">
                        @Model.selectedRecipe.name
                    </div>
                    <div class="col-1-3">
                        <button type="button" onclick="openRecipe(this)" value="@Model.selectedRecipe.idString">Open Recipe</button>
                    </div>
                </div>
                <div class="module editorWidget">
                    <div class="statsWidget">
                        <div class="statWidget">
                            <div class="statTop">
                                IBU
                            </div>
                            <div class="statBottom">
                                @Math.Round(Model.selectedRecipe.recipeStats.ibu, 2)
                            </div>
                        </div>
                        <div class="statWidget">
                            <div class="statTop">
                                ABV
                            </div>
                            <div class="statBottom">
                                @Math.Round(Model.selectedRecipe.recipeStats.abv, 2)
                            </div>
                        </div>
                        <div class="statWidget">
                            <div class="statTop">
                                FG
                            </div>
                            <div class="statBottom">
                                @Math.Round(Model.selectedRecipe.recipeStats.fg, 2)
                            </div>
                        </div>
                        <div class="statWidget">
                            <div class="statTop">
                                OG
                            </div>
                            <div class="statBottom">
                                @Math.Round(Model.selectedRecipe.recipeStats.og, 2)
                            </div>
                        </div>
                        <div class="statWidget">
                            <div class="statTop">
                                SRM
                            </div>
                            <div class="statBottom">
                                @Math.Round(Model.selectedRecipe.recipeStats.srm, 2)
                            </div>
                        </div>
                    </div>
                    <div style="font-size:18px;">
                        @Model.selectedRecipe.style
                    </div>
                    <div style="font-size:14px;">
                        @Model.selectedRecipe.description
                    </div>
                </div>
            </div>
        </div>
    }
</div>

        <script type="text/javascript">


            function loadRecipe(el) {
                window.location = '/Home/Index?selectedRecipe=' + el.id;
                console.log(el.id);
            }

            function openNewRecipe(el) {
                window.location = '/Home/openRecipe?openRecipe=NEW';
                console.log("New recipe");
            }

            function openRecipe(el) {
                window.location = '/Home/openRecipe?openRecipe=' + el.value;
            }

            function setSelectedCSS() {
               $("#" + '@Model.selectedRecipeIndex').removeClass("hopListItem");
               $("#" + '@Model.selectedRecipeIndex').addClass("hopListItemSelected");
        }

            $("#recipeSelector").scroll(function () {
          localStorage['page'] = document.URL;
                localStorage['scrollTop'] = $("#recipeSelector").scrollTop();
      });

      $(document).ready(function () {
          setSelectedCSS();
          //console.log('@Model.selectedRecipeIndex');
          if (localStorage['firstRecipeID'] == null || localStorage['firstRecipeID'] == '@Model.selectedRecipeIndex') {
              localStorage['scrollTop'] = 0;
          }
          else {
              $("#recipeSelector").scrollTop(localStorage['scrollTop']);
          }
      });

        </script>

    