@using Beernet_Lib.Models;
@using Craftly.Beer_Blazor.ComponentClasses.EditorComponents;
@inherits AdjunctEditor;

    <div class="grid grid-pad widgetItem recipeEditorWidget">
        <div class="col-1-2">
            <div id="adjunctListSelector" class="module selectorWidget">
                @{
                    int i = 0;
                    @foreach (adjunctAddition aa in Model.adjuncts)
                    {
                        <div class="hopListItem grid @(i == selectedAdjunctAddition ? "hopListItemSelected" : "")" @onclick="(() => changeSelectedAdjunct(aa.additionGuid))">
                            <div class="col-1-3">
                                <div>@aa.adjunct.name</div>
                                <div class="ingredientUnit">name</div>
                            </div>
                            <div class="col-1-3">
                                <div>@aa.amount</div>
                                <div class="ingredientUnit">@aa.unit</div>
                            </div>
                            <div class="col-1-3">
                                <div>@aa.time</div>
                                <div class="ingredientUnit">@aa.timeUnit</div>
                            </div>
                        </div>
                        i++;
                    }
                    }

            </div>
        </div>
        <div class="col-1-2">
            <div class="module grid">
                <div class="col-1-2">
                    <button type="button" @onclick="(() => AddAdjunct())">Add Adjunct</button>
                </div>
                <div class="col-1-2">
                    <button type="button" @onclick="(() => DeleteAdjunct())">Delete Adjunct</button>
                </div>
            </div>
            <div class="module editorWidget">
                    <h4 style="padding-top:0;">Edit Adjunct</h4>
                    <div class="editorListItem infogrid">
                        <div class="col-1-4 editorLabel">
                            <label>Adjunct: </label>
                        </div>
                        <div class="col-3-4">
                            <RadzenDropDown AllowClear="true" TValue="string"
                                    LoadData="@LoadData" AllowFiltering="true"
                                    Data="@AdjunctList" TextProperty="name" Value="@selectedAdjunctID" Placeholder="@adjunctName" ValueProperty="idString" Style="width:100%;"
                                    Change="@(args => Change(args, "DropDown with custom filtering"))" ></RadzenDropDown>
                        </div>
                    </div>
                    <div class="editorListItem infogrid">
                        <div class="col-1-4 editorLabel">
                            <label>Amount: </label>
                        </div>
                        <div class="col-3-4">

                            @if (Model.adjuncts.Count != 0 && Model.adjuncts[selectedAdjunctAddition].amount != null)
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctAmount(args.Value.ToString(), "TextBox with change on every input"))" Value="@Model.adjuncts[selectedAdjunctAddition].amount.ToString()" />
                            }
                            else
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctAmount(args.Value.ToString(), "TextBox with change on every input"))" Value="" />
                            }

                        </div>
                    </div>
                    <div class="editorListItem infogrid">
                        <div class="col-1-4 editorLabel">
                            <label>Unit: </label>
                        </div>
                        <div class="col-3-4">
                            @if (Model.adjuncts.Count != 0 && Model.adjuncts[selectedAdjunctAddition].unit != null)
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctUnit(args.Value.ToString(), "TextBox with change on every input"))" Value="@Model.adjuncts[selectedAdjunctAddition].unit.ToString()" />
                            }
                            else
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctUnit(args.Value.ToString(), "TextBox with change on every input"))" Value="" />
                            }

                        </div>
                    </div>
                    <div class="editorListItem infogrid">
                        <div class="col-1-4 editorLabel">
                            <label>Time: </label>
                        </div>
                        <div class="col-3-4">
                            @if (Model.adjuncts.Count != 0 && Model.adjuncts[selectedAdjunctAddition].time != null)
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctTime(args.Value.ToString(), "TextBox with change on every input"))" Value="@Model.adjuncts[selectedAdjunctAddition].time.ToString()" />
                            }
                            else
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctTime(args.Value.ToString(), "TextBox with change on every input"))" Value="" />
                            }

                        </div>
                    </div>
                    <div class="editorListItem infogrid">
                        <div class="col-1-4 editorLabel">
                            <label>Time Unit: </label>
                        </div>
                        <div class="col-3-4">
                            @if (Model.adjuncts.Count != 0 && Model.adjuncts[selectedAdjunctAddition].timeUnit != null)
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctTimeUnit(args.Value.ToString(), "TextBox with change on every input"))" Value="@Model.adjuncts[selectedAdjunctAddition].timeUnit.ToString()" />
                            }
                            else
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctTimeUnit(args.Value.ToString(), "TextBox with change on every input"))" Value="" />
                            }

                        </div>
                    </div>
                    <div class="editorListItem infogrid">
                        <div class="col-1-4 editorLabel">
                            <label>Use: </label>
                        </div>
                        <div class="col-3-4">
                            @if (Model.adjuncts.Count != 0 && Model.adjuncts[selectedAdjunctAddition].type != null)
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctType(args.Value.ToString(), "TextBox with change on every input"))" Value="@Model.adjuncts[selectedAdjunctAddition].type.ToString()" />
                            }
                            else
                            {
                                <RadzenTextBox Style="width:100%;" @oninput="@(args => ChangeAdjunctType(args.Value.ToString(), "TextBox with change on every input"))" Value="" />
                            }

                        </div>
                    </div>
            </div>
        </div>
    </div>