@using Beernet_Lib.Models;
@using Craftly.Beer_Blazor.ComponentClasses.EditorComponents;
@using Radzen;
@inherits HopEditor;


<div id="hopWidgetWrapper" class="grid grid-pad widgetItem recipeEditorWidget">
    <div class="col-1-2">
        <div id="hopListSelector" class="module selectorWidget">
            @if (Model.hops == null)
            {
                <p> loading...</p>
            }
            else
            {
                int i = 0;
                foreach (hopAddition ha in Model.hops)
                {
                    <div class="hopListItem grid" @onclick="(() => changeSelectedHop(ha.additionGuid))">
                        <div class="col-1-4">
                            <div>@ha.hop.name</div>
                            <div class="ingredientUnit">name</div>
                        </div>
                        <div class="col-1-4 ingredientUnitParent">
                            <div>@ha.hop.aau</div>
                            <div class="ingredientUnit">aau</div>
                        </div>
                        <div class="col-1-4 ingredientUnitParent">
                            <div>@ha.amount</div>
                            <div class="ingredientUnit">oz</div>
                        </div>
                        <div class="col-1-4 ingredientUnitParent">
                            <div>@ha.time</div>
                            <div class="ingredientUnit"> @(ha.type == "Dry Hop" ? "days" : "min")</div>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
    </div>
    <div class="col-1-2">
        <div class="module grid">
            <div class="col-1-2">
                <button type="button" @onclick="(() => AddHop())">Add Hop</button>
            </div>
            <div class="col-1-2">
                <button type="button" @onclick="(() => DeleteHop())">Delete Hop</button>
            </div>
        </div>
        <div class="module editorWidget">
            <h4 style="padding-top:0;">Edit Hop</h4>
            <div class="editorListItem infogrid">
                <div class="col-1-4">
                    <label>Hop: </label>
                </div>
                <div class="col-3-4">
                    <RadzenDropDown AllowClear="true" TValue="string"
                                    LoadData="@LoadData" AllowFiltering="true"
                                    Data="@HopList" TextProperty="name" Value="@selectedHopID" Placeholder="@Model.hops[selectedHopAddition].hop.name" ValueProperty="idString" Style="margin-bottom: 30px" 
                                    Change="@(args => Change(args, "DropDown with custom filtering"))" />

                </div>
            </div>
            <div class="editorListItem infogrid">
                <div class="col-1-4">
                    <label>AAU: </label>
                </div>
                <div class="col-3-4">
                    <label>@Model.hops[selectedHopAddition].hop.aau</label>
                </div>
            </div>
            <div class="editorListItem infogrid">
                <div class="col-1-4">
                    <label>amount</label>
                </div>
                <div class="col-3-4">
                    <input type="text" @bind="Model.hops[selectedHopAddition].amount" />
                </div>
            </div>
            <div class="editorListItem infogrid">
                <div class="col-1-4">
                    <label>Type</label>
                </div>
                <div class="col-3-4">
                    <select id="HopTypeSelector" class="ingredientSelector" style="width:100%;" onchange="">
                        <option value="Boil">Boil</option>
                        <option value="Whirlpool">Whirlpool</option>
                        <option value="Dry Hop">Dry Hop</option>
                    </select>
                </div>
            </div>
            <div class="editorListItem infogrid">
                <div class="col-1-4">
                    <label>time</label>
                </div>
                <div class="col-3-4">
                    <input type="text" @bind="Model.hops[selectedHopAddition].time" />
                </div>
            </div>
        </div>
    </div>
</div>
